<template>
  <v-app>
    <v-toolbar fixed app>
      <v-toolbar-title>Twitter Sentiment Analysis</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title>{{this.result.search}}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid>
          <search-form :update="update" :height="formHeight"></search-form>
          <sentiment-list :data="result" v-if="result.raw"></sentiment-list>
      </v-container>
    </v-content>
    <v-footer fixed app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import SearchForm from '@/components/SearchForm'
import SentimentList from '@/components/SentimentList'
export default {
  data() {
    return {
      result: {search: ''},
      search: ''
    }
  },
  components: {
    'search-form': SearchForm,
    'sentiment-list': SentimentList
  },
  computed: {
    formHeight: function() {
      return this.result.raw ? '50px' : '500px'
    }
  },
  methods: {
    update(result) {
      this.result = result
    }
  }
}
</script>
