<template>
  <v-layout row wrap justify-center align-center class="my-3" :style="{ height: height }">
    <v-flex xs4 offset-xs1 class="mr-3">
      <v-text-field label="Search Term:" v-model="search" single-line></v-text-field>
    </v-flex>
    <v-flex xs2>
      <v-btn large color="primary" :loading="loading" :disabled="search === ''" @click="getSentiment">Search</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'
export default {
  name: 'SearchForm',
  props: {
    height: {
      type: String,
      required: true
    },
    update: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      search: '',
      host: 'http://172.0.113.77:5555/',
      loading: false
    }
  },
  methods: {
    getSentiment() {
      this.loading = true
      axios.get(`${this.host}twitter?term=${this.search}`).then(response => {
        this.update({ ...response.data, search: this.search })
        this.loading = false
      })
    }
  }
}
</script>
