<template>
    <v-layout row wrap justify-center align-center>
        <v-flex xs5>
            <v-card>
                <v-card-text>
                    <pie-chart :chart-data="collection"></pie-chart>
                </v-card-text>
            </v-card>
        </v-flex>
        <v-flex xs8 class="mt-3">
            <v-card>
                <v-card-text class="text-xs-left">
                    <ul>
                        <li v-for="(text, i) in data.raw" :key="i" :class="`${color(i)}--text mx-3`">{{text}}</li>
                    </ul>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import PieChart from './charts/pieChart.js'
export default {
  name: 'SentimentList',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  components: {
    'pie-chart': PieChart
  },
  computed: {
    collection: function() {
      return {
        labels: ['Positive', 'Neutral', 'Negative'],
        datasets: [
          {
            total: this.data.sentiment.length,
            data: [
              this.data.sentiment.reduce((count, sent) => {
                return count + (sent > 0.6 ? 1 : 0)
              }, 0),
              this.data.sentiment.reduce((count, sent) => {
                return count + (sent <= 0.6 && sent >= 0.4 ? 1 : 0)
              }, 0),
              this.data.sentiment.reduce((count, sent) => {
                return count + (sent < 0.4 ? 1 : 0)
              }, 0)
            ],
            backgroundColor: ['blue', 'grey', 'red']
          }
        ]
      }
    }
  },
  methods: {
    color(i) {
      if (this.data.sentiment[i] > 0.6) {
        return 'blue'
      }
      if (this.data.sentiment[i] < 0.4) {
        return 'red'
      }
      return 'grey'
    }
  }
}
</script>
